#field {
  position: absolute;
  width: 600px;
  height: 400px;
  left: calc(50% - 300px);
  top: calc(50% - 200px);
  background: black;
}
.platform {
  position: absolute;
  width: 10px;
  height:150px;
  background: yellow;
  right: 20px;
  top: 125px;
}
#ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%; 
  background-color: red;
  -webkit-box-background: radial-gradient(circle at 10px 10px, #39C29D, #000);
  -moz-box-background: radial-gradient(circle at 10px 10px, #39C29D, #000);
  background: radial-gradient(circle at 10px 10px, #39C29D, #000);
  -webkit-box-shadow: 1px 1px 5px 0px;
  -moz-box-shadow: 1px 1px 5px 0px;
  box-shadow: 1px 1px 5px 0px;
}
